
@import 'normalize'
@import 'main'
@import 'spinner'
@import 'slick'

regularFont()
  font-family:"New Transport Regular", avenir, 'segoe ui', roboto, arial, sans-serif; font-weight:normal; font-style:normal;

blackFont()
  font-family:"New Transport Black", avenir, 'segoe ui', roboto, arial, sans-serif; font-weight:800; font-style:normal;

html
  box-sizing: border-box
*, *:before, *:after
  box-sizing: inherit;

body
  font-size: 15px;
  line-height: 1.5;
  overflow-y: scroll;

.logo
  text-align: center;
  margin-bottom: 0.6rem;
  margin-top: 0.25em;
.logo img
  max-width: 320px;
.logo a
  border: none;

nav
  text-align: center;
  margin-bottom: 0.6rem;
nav a
  display: inline-block;
  color: #222;
  text-decoration: none;
  border-bottom: 2px solid white;
  margin: 0 0.4rem;
  transition: border-color .2s ease;
nav a:hover
  border-bottom: 2px solid #444;

.footer
  text-align: center;
  margin: 3rem 0 4rem 0;
  font-size: 0.9em;

#myslider
  max-width: 1200px;
  margin: 0 auto;
#myslider img
  max-width: 100%;

.copy
  margin: 0 auto;
  max-width: 500px;

.looks
  margin: 0 auto;
  max-width: 1000px;
.look
  width: 49%;
  float: left;
.look p
  margin-top: 0.2em;
  font-size: 0.9em;
  color: #444;
.row .single
  float: none;
  margin: 0 auto;
.look img
  max-width: 100%;

.lookbook-title
  max-width: 600px;
  margin: 0 auto;

.lookbook-title-image
  display: block;
  max-width: 100%;

body
  regularFont()
  line-height 1.5

h3
  letter-spacing: 1px;
  font-size: 1.2em;
  blackFont()

a
  color: #555;

.contact
  margin-top: 2rem;

.coming-soon
  font-size: 1.7em;
  text-align: center;
  letter-spacing: 1px;
  blackFont()

.join .big
  blackFont()

.page-title
  text-align: center;
  font-size: 2em;
  letter-spacing: 1px;
  blackFont()
  margin-top: 0;

.about
  max-width 1000px
  margin 1.4em auto 8rem auto
.about img
  float left
  width 50%
.about .text
  float right
  width 50%
  padding 0 2em 0 2em

@media only screen and (max-width: 660px)
  .about img
    width: 100%
  .about .text
    width 100%
    padding-top 2rem

.join {
  text-align: center;
  border-top: 2px solid #222;
  max-width: 1200px;
  margin: 2rem auto 0 auto;
  padding: 1rem;
}
.join .big {
  font-size: 2.6em;
  letter-spacing: 2px;
}
.join #waiting {
  padding: 1rem;
}
.join input {
  border: none;
  padding: 1em 1em;
  lein-height: 2 !important;
  border-bottom: 2px solid #333;
  outline: none;
  font-size: 1.2em;
  width: 240px;
  margin-right: 1rem;
  overflow: show;
}
.join input:focus {
  outline: 0;
  outline: none;
}
.join button {
  font-family: inherit;
  font-size: 1.2em;
  padding: .85em 1.6em 1em 1.6em;
  border: 1px solid #999;
  border: 0 rgba(0,0,0,0);
  text-decoration: none;
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #222;
}

.message {
  padding: 1rem;
  font-size: 1.2em;
}
