
regularFont()
  font-family:"New Transport Regular", avenir, 'segoe ui', roboto, arial, sans-serif; font-weight:normal; font-style:normal;

mediumFont()
  font-family:"New Transport Medium", avenir, 'segoe ui', roboto, arial, sans-serif; font-weight:500; font-style:normal;

boldFont()
  font-family:"New Transport Bold", avenir, 'segoe ui', roboto, arial, sans-serif; font-weight:bold; font-style:normal;

blackFont()
  font-family:"New Transport Black", avenir, 'segoe ui', roboto, arial, sans-serif; font-weight:800; font-style:normal;

body
  font-family:"New Transport Regular", serif;
