body {
  font-family: "New Transport Regular", avenir, 'segoe ui', roboto, arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}
h3 {
  letter-spacing: 1px;
  font-size: 1.2em;
  font-family: "New Transport Black", avenir, 'segoe ui', roboto, arial, sans-serif;
  font-weight: 800;
  font-style: normal;
}
a {
  color: #555;
}
.coming-soon {
  font-size: 1.7em;
  text-align: center;
  letter-spacing: 1px;
  font-family: "New Transport Black", avenir, 'segoe ui', roboto, arial, sans-serif;
  font-weight: 800;
  font-style: normal;
}
.join .big {
  font-family: "New Transport Black", avenir, 'segoe ui', roboto, arial, sans-serif;
  font-weight: 800;
  font-style: normal;
}
.page-title {
  text-align: center;
  font-size: 2em;
  letter-spacing: 1px;
  font-family: "New Transport Black", avenir, 'segoe ui', roboto, arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  margin-top: 0;
}
.about {
  max-width: 1000px;
  margin: 0 auto;
}
.about img {
  float: left;
  width: 50%;
}
.about .text {
  float: right;
  width: 50%;
  padding: 0 2em 0 2em;
}
@media only screen and (max-width: 660px) {
  .about img {
    width: 100%;
  }
  .about .text {
    width: 100%;
    padding-top: 2rem;
  }
}
.join {
  text-align: center;
  border-top: 2px solid #222;
  max-width: 1200px;
  margin: 2rem auto 0 auto;
  padding: 1rem;
}
.join .big {
  font-size: 2.6em;
  letter-spacing: 2px;
}
.join #waiting {
  padding: 1rem;
}
.join input {
  border: none;
  padding: 1em 1em;
  lein-height: 2 !important;
  border-bottom: 2px solid #333;
  outline: none;
  font-size: 1.2em;
  width: 240px;
  margin-right: 1rem;
  overflow: show;
}
.join input:focus {
  outline: 0;
  outline: none;
}
.join button {
  font-family: inherit;
  font-size: 1.2em;
  padding: 0.85em 1.6em 1em 1.6em;
  border: 1px solid #999;
  border: 0 rgba(0,0,0,0);
  text-decoration: none;
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #222;
}
.message {
  padding: 1rem;
  font-size: 1.2em;
}
