html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 15px;
  line-height: 1.5;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #555;
  border-bottom: 1px solid #666;
}

h3 {
  letter-spacing: 3px;
  font-size: 1.2em;
}

.page-title {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logo {
  text-align: center;
  margin-bottom: 0.8rem;
}
.logo img {
  max-width: 320px;
}
.logo a {
  border: none;
}

nav { text-align: center; margin-bottom: 1rem;}
nav a {
  display: inline-block;
  color: #222;
  text-decoration: none;
  border-bottom: 2px solid white;
  margin: 0 0.4rem;
  transition: border-color .2s ease;
}
nav a:hover {
  border-bottom: 2px solid #444;
}

.footer {
  text-align: center;
  margin: 3rem 0 4rem 0;
  font-size: 0.9em;
}

#myslider {
  max-width: 1200px;
  margin: 0 auto;
}
#myslider img {
  max-width: 100%;
}

.coming-soon {
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Transport New Heavy', sans-serif;
}

.copy {
  margin: 0 auto;
  max-width: 400px;
}

.looks {
  margin: 0 auto;
  max-width: 1000px;
}
.look {
  width: 49%;
  float: left;
}
.look p {
  margin-top: 0.2em;
  font-size: 0.9em;
  color: #444;
}
.row .single {
  float: none;
  margin: 0 auto;
}
.look img {
  max-width: 100%;
}

.lookbook-title {
  max-width: 600px;
  margin: 0 auto;
}

.lookbook-title-image {
  display: block;
  max-width: 100%;
}

.about {
  max-width: 1000px;
  margin: 0 auto;
}
.about img {
  float: left;
  width: 50%;
}
.about .text {
  float: right;
  width: 50%;
  padding: 2em;
}

@media only screen
  and (max-width: 660px) {

  .about img { width: 100%; }
  .about .text { width: 100%; }
}

.join {
  text-align: center;
  border-top: 2px solid #222;
  max-width: 1200px;
  margin: 2rem auto 0 auto;
}
.join .big {
  font-size: 2.6em;
  letter-spacing: 2px;
  font-family: 'Transport New Heavy', sans-serif;
  font-weight: normal;
}
.join #waiting {
  padding: 1rem;
}
.join input {
  border: none;
  padding: 1rem 0;
  border-bottom: 2px solid #333;
  outline: none;
  font-size: 1.2em;
  width: 240px;
  margin-right: 1rem;
}
.join input:focus {
  outline: 0;
  outline: none;
}
.join button {
  font-family: inherit;
  font-size: 1.2em;
  padding: .85em 1.6em;
  border: 1px solid #999;
  border: 0 rgba(0,0,0,0);
  text-decoration: none;
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #222;
}

.message {
  padding: 1rem;
  font-size: 1.2em;
}


@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* :not(:required) hides this rule from IE9 and below */
.spinner:not(:required) {
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  -moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  display: inline-block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin: 1.5em;
  overflow: hidden;
  text-indent: 100%;
}
